@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #001724;
  --background: #fafafa;
  --primary: #0066cc;
  --secondary: #70e000;
  --accent: #7f0ff0;
}

body {
  margin: 0;
  /* padding: 15px; */
  font-family: 'Roboto', sans-serif;
  text-align: center;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
