.supplier-component-container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  width: 90vw;
  gap: 10px;
  align-items: center;
  margin-top: 1.5rem;
}

.supplier-icon {
  width: 50px;
}
.supplier-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.supplier-name {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

.small-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0066cc;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease-in-out 100ms;
}

.small-button:hover,
.small-button:focus {
  outline: 2px solid #fff;
  outline-offset: -4px;
}
